@page
@model YourOwnData.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>Please tick plugin(s) to use:</h3>
    <label>
        <input type="checkbox" name="hawker_menu" value="hawker_menu">
        Hawker Menu
    </label>
    <br>
    <label>
        <input type="checkbox" name="handbook" value="handbook">
        Starvision Handbook
    </label>
    <br>
    <label>
        <input type="checkbox" name="itochu_userguides" value="itochu_userguides">
        Itochu UserGuides
    </label>
    <br>
</body>
</html>